<% include partials/header.ejs %>

<div class="container">
	<div class="row">

		<header class="jumbotron col-md-12 m-1">
			<div class="container">
			  <h1 class="display-4">LogistiX</h1>
			  <p class="lead">Asset Tracking</p>
			  <hr class="my-4">
			  <p>Search by Asset, Stock and more..</p>
			  <a class="btn btn-primary btn-lg" href="/gallery/new" role="button">List Assets</a>
			</div>
		</header>
	</div>
</div>

<% include partials/footer.ejs %>